<!doctype html>
<html>
<head>

    <meta charset="utf-8">
    <link href="http://localhost:3000/css/style.css" rel="stylesheet">
</head>
<body>

  <title="Sign Up">

      <form class="authForms" action="/users" method="post">
        <label for="name"><b>Name</b></label>
        <input type="text" placeholder="Enter Name" name="name" required>

        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" required>

        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>

        <label for="psw-repeat"><b>Repeat Password</b></label>
        <input type="password" placeholder="Repeat Password" name="psw-repeat" required>

        <label for="address"><b>Address</b></label>
        <input type="text" placeholder="address" name="address" required>

     <input type="submit" value="Register">
   </form>

  </ion-view>

</body>
</html>
