<!doctype html>
<html>

<head>

  <meta charset="utf-8">
  <link href="http://localhost:3000/css/style.css" rel="stylesheet">
</head>

<body>


  <div class="images">
    <a href="/">
      <img class="logo" src="http://localhost:3000/images/cooking.jpg" name="Catering" alt="Cater" width="600" height="600" /></a>
    <a href="/" target="_blank">
      <img class="logo" src="http://localhost:3000/images/delivery.jpg" name="Order" alt="Order" width="600" height="600" /></a>
  </div>

  <div class="bar bar-footer bar-balanced" style="bottom:50px" ng-show="List of Dishes">
    <div class="title"><a href="/dishes" target="_blank">Get list of dishes</a></div>
  </div>

</body>

</html>
