<!doctype html>
<html>

<head>

  <meta charset="utf-8">
  <link href="style.css" rel="stylesheet">
  <style>
    body {
      background-image: url('http://localhost:3000/images/spices-back.jpg');
      background-repeat: no-repeat;
      background-size: cover;
    }
  </style>
</head>

<body>
  <div class="homeLinks">
    <img class="mainLogo" src="http://localhost:3000/images/kitchen.jpg" name="Logo" width="200" height="200" />
    <div class="col">
      <button onclick="window.location.href='/dishes'">Take a look at our Menu</button>
      <button onclick="window.location.href='/users'">SIGN UP BUTTON</button>
      <button onclick="window.location.href='/login'">LOG IN BUTTON</button>

    </div>
  </div>
</body>

</html>
