<ion-view title="User Main Page">

    <ion-content class="padding">
      <div class="images">
        <a href="/">
        <img class="logo" src="./img/cooking.jpg" name="Catering" alt="Submit" width="600" height="600"/></a>
        <a href="/" target="_blank">
        <img class="logo"  src="./img/delivery.jpg" name="Order" alt="Submit" width="600" height="600"/></a>
      </div>
    </ion-content>


        <div class="bar bar-footer bar-balanced" style="bottom:50px" ng-show="List of Dishes">
            <div class="title"><a href="/dishes" target="_blank">Get list of dishes</a></div>
        </div>
</ion-view>
